.archive{
    background-image: url('../pictures/archive1.jpg');
    background-color:rgba(255,255,255,0.8);
    background-blend-mode:lighten;
}

#global_navi ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    border-left: 2px solid #000000;
    width: 100vw;
}

#global_navi ul li {
    border-right: 2px solid #000000;
    background-color: #ffffff;
    width: 33vw;
}

#global_navi ul li a {
    display: block;
    padding: 6px 20px;
    font-weight: bold;
    text-align: center;
}


.column1{
    background-image: url('../pictures/bgimage1.JPG');
    background-color:rgba(255,255,255,0.8);
    background-blend-mode:lighten;
}

.newspicks_img{
    width: 400px;
    height: auto;
}