.archive{
    background-image: url('../pictures/archive1.jpg');
    background-color:rgba(255,255,255,0.8);
    background-blend-mode:lighten;
}

.column1{
    background-image: url('../pictures/bgimage1.JPG');
    background-color:rgba(255,255,255,0.8);
    background-blend-mode:lighten;
}

.newspicks_img{
    width: 400px;
    height: auto;
}